[Unit]
Description=Hackdose

[Service]
ExecStart=/root/hackdose-server --config /root/config.yaml
Restart=on-failure
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
